:root{
  --main-color:#0aad0a;
  --main-transation: 0.5s;
}
body{
  position: relative;
}
html{
  scroll-behavior: smooth;
}
svg{
  cursor: pointer;
  color: var(--main-color);
}
/* Start Navbar */
.New{
    padding-bottom: 15px;
      box-shadow: 0 0 10px #ddd;
    }
.sticky-top{
  padding: 10px;
  background-color: #f7f7f7;
}
@media(max-width:992px){
  .New{
    padding-bottom: 0;
    padding-top: 0;
  }
}
.form-control:focus{
  border-color: var(--main-color);
  box-shadow: 0 0 0 0.25rem #0aad0a6b;
}
.btn-check:focus+.btn,
.btn:focus,
.btn:hover{
  background-color: #0aad0a6b;
  border: 1px solid white;
}
svg {
  cursor: pointer;
  color: var(--main-color);
}
@media(max-width:767px){
  .navbar .icons{
    display: none;
  }
}
.navbar .main-menu{
  background-color: var(--main-color);
  color: white;
}
.navbar .box {
  position: relative;
}
.navbar .box span{
      position: absolute;
        top: 2px;
        left: -1px;
        padding: 0px 4px;
        background: #198754;
        color: white;
        border-radius: 15px;
        font-size: 11px;
}
.navbar .main-menu svg.test{
  color: white;
  margin-top: -4px;
}
.dropdown-item{
  padding: 10px 25px;
    font-size: 14px;
    transition: var(--main-transation);
}
.dropdown-item:focus,
.dropdown-item:hover{
  background-color: var(--main-color);
  color: white;
  padding-left: 30px;
}
@media(max-width:767px){
  .navbar .mr-tp {
    margin-top: 15px;
  }
}
.navbar .navbar-toggler-icon{
  color: var(--main-color);
}
.navbar .navbar-toggler:focus{
    box-shadow: 0 0 0 var(--main-color);
    border: 1px solid var(--main-color);
    }
/* End Navbar */
/* Start Landing */
.landing .container {
    min-height: calc(100vh - 72px);
}
.landing .container .content{
  position: relative;
}
.landing .container .content .image{
  background-image: url(../image/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center center;
  border-radius: 10px;
}
@media(max-width:992px){
  .landing .container .content .image{
    min-height: 85vh;
  }
}
.landing .container .content .text {
      position: absolute;
        top: 50%;
        left: 25px;
        transform: translateY(-50%);
}
h2.main-title{
  line-height: 1.5;
}
p.lead{
    color: #5c6c75;
      font-size: 17px;
      font-weight: 600;
      line-height: 1.8;
      max-width: 300px;
}
/* End Landing */
/* Test */
.carousel-inner .Harm{
  background-image: url(../image/background.jpg);
  background-size: cover;
      min-height: calc(100vh - 170px);
    background-repeat: no-repeat;
  background-position: center center;
  border-radius: 15px;
  position: relative;
}
.carousel-inner .text{
      position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
}
@media(max-width:992px){
  .carousel-inner .Harm {
    min-height: 85vh;
  }
}
.carousel-inner .nesting{
    background-image: url(../image/background-2.jpg);
  background-size: cover;
      min-height: calc(100vh - 170px);
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 15px;
}
@media(max-width:992px) {
  .carousel-inner .nesting {
    min-height: 85vh;
  }
}
.but-1{
  transition: var(--main-transation);
}
.but-1:hover,
.but-1:focus{
  background-color: #26404b;
  border: 1px solid #1a3540;
  color: white;
}
.but-1 i{
  margin-left: 5px;
  transition: var(--main-transation);
}
.but-1:hover i {
  padding-left: 5px;
}
/* Start Features */

.container .main-text{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}
@media(max-width:767px){
.container h2.main-text{
    text-align: center;
  }
}
.container .main-text span{
  color: var(--main-color);
}
.features .content{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.features .content .box{
  border: 1px solid #ccc;
  transition: var(--main-transation);
  border-radius: 6px;
}
@media(max-width:767px){
  .features .content .box {
    width: 100%;
  }
}
.features .content .box:hover{
  border-color: var(--main-color);
}
.features .content .box h2{
  transition: var(--main-transation);
  font-size: 17px;
  margin: 10px 0;
  color: #666;
}
.features .content .box:hover h2 {
  color: var(--main-color);
}
/* End Features */
/* Start Banners */
.banners .container .box {
  position: relative;
}
.banners .container .box img{
  width: 100%;
  max-width: 100%;
}
.banners .container .box .image{
    background-image: url(../image/banner-1.png);
      background-size: cover;
      background-position: center center;
      position: relative;
      background-repeat: no-repeat;
      min-height: 250px;
      width: 100%;
      border-radius: 10px;
}
.banners .container .box .image-1{
      background-image: url(../image/banner-2.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 250px;
        width: 100%;
        border-radius: 10px;
}
.banners .container .box .text{
      position: absolute;
        top: 40px;
        left: 30px;
}
/* End Banners */
/* Start Popular */
.popular .container .content-srv{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.popular .container .box{
  border: 1px solid #ccc;
  transition: var(--main-transation);
  position: relative;
}
.popular .container .box .captaion{
    position: absolute;
      top: 10px;
      display: flex;
      flex-direction: column;
      right: 10px;
      opacity: 0;
      transition: var(--main-transation);
    }
        .popular .container .box:hover .captaion{
          opacity: 1;
        }
.popular .container .box .captaion i {
      padding: 10px;
        background: #00000091;
        color: white;
        border-radius: 25px;
        margin-bottom: 10px;
}
@media(min-width:992px){
  .popular .container .name{
    display: none;
  }
}
.popular .container .box:hover{
  border-color: var(--main-color);
}
@media(max-width:767px) {
  .popular .container .box {
    flex-basis: 48%;
  }
}
.popular .container .box .text h2{
    font-size: 14px;
      margin: 10px 0;
      font-weight: 500;
      cursor: pointer;
      color: #444;
      transition: var(--main-transation);
    }
        .popular .container .box:hover .text h2{
          color: var(--main-color);
        }
.popular .container .box .text span {
    color: #777;
}
@media(max-width:767px){
  .popular .container .box img{
    width: 170px;
    max-width: 100%;
  }
}
.popular .container .box .icon i.filled {
    color: #ffc107;
    margin-bottom: 20px;
}
.popular .container .box .info{
      display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20px;
}
.popular .container .box .info span {
      font-size: 20px;
        color: var(--bs-gray-700);
        font-weight: bold;
}
.popular .container .box .info a{
      text-decoration: none;
        padding: 5px 10px;
        background-color: var(--main-color);
        color: white;
        border-radius: 7px;
        font-size: 13px;
        transition: var(--main-transation);
        margin-top: 1px;
}
.popular .container .box .info a:hover{
  background-color: rgb(47, 185, 47);
}
/* End Popular */
/* Star Daily */
.daily .container .daily-srv{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media(max-width:992px){
  .daily .container .daily-srv{
      justify-content: center;
  }
}
.daily .container .daily-srv .box {
  flex-basis: 24% ;
    position: relative;
    padding: 0 6px;
}
.daily .container .box .captaion {
  position: absolute;
  top: 10px;
  display: flex;
  flex-direction: column;
  right: 10px;
  opacity: 0;
  transition: var(--main-transation);
}

.daily .container .box:hover .captaion {
  opacity: 1;
}

.daily .container .box .captaion i {
  padding: 10px;
  background: #00000091;
  color: white;
  border-radius: 25px;
  margin-bottom: 10px;
}
.daily .container .daily-srv .my-p{
      border: 1px solid #ccc;
        margin-left: 5px;
        margin-bottom: 10px;
        transition: var(--main-transation);
}
.daily .container .daily-srv .my-p:hover{
  border-color: var(--main-color);
}
@media(max-width:767px){
  .daily .container .daily-srv .my-p{
    padding: 10px 30px;
  }
}
@media(max-width:992px){
  .daily .container .daily-srv .Harp{
    display: none;
  }
}
@media(max-width:992px){
  .daily .container .daily-srv .box{
    flex-basis: 48%;
  }
}
.daily .container .daily-srv .box .image{
  position: relative;
}
.daily .container .daily-srv .box img{
  max-width: 100%;
}
.daily .container .daily-srv .box .text-1{
    position: absolute;
      top: 30px;
      color: white;
      width: 100%;
      transform: translateX(-50%);
      left: 50%;
    }
.daily .container .daily-srv .box .text-1 h2{
      font-size: 17px;
        padding: 8px;
}
.daily .container .daily-srv .box .text-1 p {
      font-size: 14px;
        font-weight: 400;
}
.daily .container .daily-srv .box .text-1 a {
    text-decoration: none;
      padding: 5px;
      display: block;
      background-color: var(--main-color);
      color: white;
      width: 150px;
      margin: 0 auto;
      border-radius: 25px;
      transition: var(--main-transation);
}
.daily .container .daily-srv .box .text-1 a:hover{
  background-color: rgb(47, 185, 47);
}
.daily .container .daily-srv .box .text h2{
      font-size: 17px;
        color: #444;
                cursor: pointer;
                  transition: var(--main-transation);
}
.daily .container .daily-srv .box .text h2:hover {
  color: var(--main-color);
}
.daily .container .daily-srv .box .text p {
      color: #777;
        margin: 0 0 7px;
}
.daily .container .daily-srv .box .icon {
      display: flex;
        justify-content: space-around;
}
.daily .container .daily-srv .box .icon span {
      color: #495057;
        font-size: 18px;
        font-weight: bold;
}
.daily .container .daily-srv .box .icon i {
  color: #ffc107;
}
.daily .container .daily-srv .box .Cart{
    display: block;
      background-color: var(--main-color);
      color: white;
      padding: 6px;
      border-radius: 25px;
      margin: 20px 0;
      text-decoration: none;
      width: 200px;
      font-size: 17px;
      transition: var(--main-transation);
      margin: 20px auto;
    }
.daily .container .daily-srv .box .Cart:hover{
  background-color: rgb(47, 185, 47);
}
.daily .container .daily-srv .box .time{
    display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      margin-bottom: 15px;
    }
.daily .container .daily-srv .box .time .unit {
    border: 1px solid #ccc;
      padding: 5px 10px;
      width: 50px;
    }
.daily .container .daily-srv .box .time .unit span:first-child {
      font-size: 17px;
        font-weight: bold;
        color: var(--main-color);
}
.daily .container .daily-srv .box .time .unit span:last-child {
    color: #777;
      font-size: 13px;
      text-align: center;
      margin-left: -2px;
    }
/* End Daily */
/* Start Friut */
.friut .container .content-srv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.friut .container .box {
  border: 1px solid #ccc;
  transition: var(--main-transation);
  position: relative;
}
@media(min-width:993px){
  .friut .container .box{
    flex-basis: 30%;
  }
}
.friut .container .box .captaion {
  position: absolute;
  top: 10px;
  display: flex;
  flex-direction: column;
  right: 10px;
  opacity: 0;
  transition: var(--main-transation);
}

.friut .container .box:hover .captaion {
  opacity: 1;
}

.friut .container .box .captaion i {
  padding: 10px;
  background: #00000091;
  color: white;
  border-radius: 25px;
  margin-bottom: 10px;
}

@media(min-width:992px) {
  .friut .container .name {
    display: none;
  }
}

.friut .container .box:hover {
  border-color: var(--main-color);
}

@media(max-width:767px) {
  .friut .container .box {
    flex-basis: 48%;
  }
}

.friut .container .box .text h2 {
  font-size: 14px;
  margin: 10px 0;
  font-weight: 500;
  color: #444;
  cursor: pointer;
  transition: var(--main-transation);
}
.friut .container .box:hover .text h2 {
  color: var(--main-color);
}
.friut .container .box .text span {
  color: #777;
}

@media(max-width:767px) {
  .friut .container .box img {
    width: 170px;
    max-width: 100%;
  }
}

.friut .container .box .icon i.filled {
  color: #ffc107;
  margin-bottom: 20px;
}

.friut .container .box .info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.friut .container .box .info span {
  font-size: 20px;
  color: var(--bs-gray-700);
  font-weight: bold;
}

.friut .container .box .info a {
  text-decoration: none;
  padding: 5px 10px;
  background-color: var(--main-color);
  color: white;
  border-radius: 7px;
  font-size: 13px;
  transition: var(--main-transation);
  margin-top: 1px;
}

.friut .container .box .info a:hover {
  background-color: rgb(47, 185, 47);
}

/* End Popular */
/* Start Contact */
.contact{
  padding-top: 60px;
  padding-bottom: 60px;
}
.contact .container .content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact .container .image img{
  max-width: 100%;
}
@media(max-width:767px){
  .contact .container .image img{
    width: 250px;
    margin-bottom: 30px;
  }
}
.contact .container  .form form input[type=text] {
    width: 100%;
      padding: 15px 5px;
      display: block;
      border: none;
      border-bottom: 1px solid var(--main-color);
      background: #f7f7f7;
      outline: none;
      margin-bottom: 30px;
      caret-color: var(--main-color);
    }
    .contact .container .form form textarea{
          height: 200px;
            width: 100%;
            padding: 10px;
            border: none;
            border-bottom: 1px solid var(--main-color);
            background-color: #f7f7f7;
            outline: none;
            caret-color: var(--main-color);
    }
        .contact .container .form form input[type=submit]{
              display: block;
                margin-top: 30px;
                width: 350px;
                margin: 30px auto;
                background-color: var(--main-color);
                color: white;
                border: none;
                outline: none;
                padding: 10px;
                border-radius: 7px;
                transition: var(--main-transation);
        }
        .contact .container .form form input[type=submit]:hover{
          background-color: rgb(47, 185, 47);
            }
/* End Contact */
/* Start Footer */
.footer{
    background-color: #1f1f1f;
      padding: 10px;
      color: white;
      text-align: center;
    }
.footer h2{
      margin: 10px;
        font-size: 17px;
}
.footer i {
  color: red;
}
/* End footer */